@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: auto !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.d-login {
    @apply dark:bg-login-input-d dark:text-login-input-d
}

.fixed-center-x {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.border-b {
    @apply border-b-[1px] border-gray-300 dark:border-gray-700
}

.ab-center {
    @apply top-[50%] absolute translate-x-[-50%] translate-y-[-50%] left-[50%]
}

.ab-center-x {
    @apply top-[50%] absolute translate-y-[-50%]
}

.dropdown-shadow {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

@keyframes more-dropdown {
    from {
        transform: scale(0.3);
        opacity: 0;
    }

    to {
        transform: scale(1) translate(0%, 0%);
        opacity: 1;
    }
}

.more-dropdown {
    transform-origin: top right;
    animation: more-dropdown .1s linear;
}